.btn {
    font-size: 28px;
    font-weight: bold;
    width: 60px;
}

#opStr {
    font-weight: bold;
    font-size: 16px;
}

.myPad {
    width: 500px;
    margin: auto;
    background-color: #AAA;
    padding: 15px 10px;
}

.myDisplay {
    height: 38px;
    margin: 5px;
    font-size: 28px;
    font-weight: bold;
    background-color: lightgrey;
}

.myPad, .myDisplay {
    border-color: #222;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}