.btn {
    font-size: 28px;
    font-weight: bold;
    width: 60px;
}

#answer {
    font-size: 28px;
    font-weight: bold;
}

#opStr {
    font-weight: bold;
    font-size: 16px;
}

.myPad {
    width: 500px;
    margin: auto;
}