<!DOCTYPE html>

<html>
  <head>
    <% include ../../partials/head_common %>
    <link href="/apps/tictactoe/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../../partials/navbar %>
      </div>
      
      <h2>Tic Tac Toe</h2>
      <p>"Hello World!" app using React</p>
    </div>
    
    <div class="text-center">
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root"></div>
      <script type="text/javascript" src="/apps/tictactoe/main.js"></script>
    </div>

    <div>
      <% include ../../partials/footer %>
    </div>
  </body>
</html>
