<!DOCTYPE>
<html>
  <head>
    <% include ../partials/head_common %>

    <style>
      .elf-table {
        background: #d5d5d5;
      }
      .elf-table, .elf-table th, .elf-table td {
        border-color: #999;
      }
    </style>
  </head>

  <body>

    <div class="jumbotron text-center">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="container">
        <h2>About Me</h2>
      </div>
    </div>

    <div class="container-fluid major-block">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img src="/images/my_photo.jpg" class="img-fluid img-thumbnail" alt="Photo of Myself">
        </div>
        
        <div class="col-sm-6 text-center">
          <div class="justify-content-sm-center" style="font-size: 18px;">
            <p>Hello, and welcome to my page! This page is actually supposed to be a playground for me to train my web developing knowledge, but I hope it also does fulfill the purpose of elucidating information about myself.</p>
            <p>I'm currently a Computer Science undergraduate student, with recently acquired interest in low level aspects of a computer, near the hardware level. However, for now I'm mostly interested in gathering smaller chunks of knowledge on all areas of Computer Science, so that I can face any problem without having to feel like I'm ignorant regarding the problem to be faced.</p>
            <p>In 2017 I began a Scientific Initiation in High-Performance Computing applied to the Protein Structure Prediction problem. I hope to use this opportunity to decide whether I'll follow an academic path or not.</p>
          </div>
        </div>
        
        <div class="col-sm-2">

        </div>
      </div>
    </div>
    
    <div class="container-fluid text-center major-block major-bg-grey" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-sm-3">
          <h1 style="margin-top: 25%;">
              Academic Info
          </h1>
        </div>

        <div class="col-sm-9">
          <div class="table-responsive">
            <table class="table table-bordered container text-center elf-table">
              <tbody>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Institution</th>
                  <td>
                    <div>ICMC - USP</div>
                    <div>Institute of Mathematical and Computer Sciences - University of São Paulo</div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Major</th>
                  <td>Computer Science</td>
                </tr>
                <tr>
                  <th scope="row">Occupation</th>
                  <td>Undergraduate Student</td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Contact</th>
                  <td>mhjsaldanha@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Interests</th>
                  <td>
                    <div>High-Performance Computing</div>
                    <div>Distributed Computing</div>
                    <div>Computer Organization and Architecture</div>
                    <div>GPU Architecture</div>
                    <div>Machine Learning</div>
                    <div>Deep Learning</div>
                  </td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Lattes Curriculum</th>
                  <td><a href="http://lattes.cnpq.br/2301154612725391">lattes.cnpq.br/2301154612725391</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center major-block" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-sm-8">
          <div class="text-left container" style="font-size: 18px;">
            <p>
              Everything started because I really took a liking to a certain online game, <a href="https://www.runescape.com">Runescape</a>, due to it's intriguing and beautiful inner lore, greatly enriched by a well composed soundtrack.
              However, to dig deeply in such story, one needs to complete a lot of what are called <strong>quests</strong>, which in turn require your in-game character to meet certain requirements regarding <strong>levels</strong> and <strong>skills</strong>.
              Levelling up isn't easy, requiring an infinite amount of tedious, mouse-intensive, repetitive activities. This led me to search for an easier way to level up and sate my desire for knowing the lore.
            </p>
            <div class="row">
              <div class="col-sm-6 text-center">
                <figure class="figure">
                  <img src="/images/varrock_palace.png" class="figure-img img-fluid rounded" alt="Image showing Varrock, a city of Runescape.">
                  <figcaption class="figure-caption">Varrock, one of the main cities of Runescape.</figcaption>
                </figure>
              </div>
              <div class="col-sm-6 text-center">
                  <figure class="figure">
                      <img src="/images/prifddinas_ithell.png" class="figure-img img-fluid rounded" alt="Image showing Prifddinas, a city of Runescape.">
                    <figcaption class="figure-caption">A second main city, Prifddinas.</figcaption>
                  </figure>
                </div>
            </div>
            <p>
              Eventually, I got to know some platforms that offered off-the-shelf automation software for many tasks in the game.
              Within the game's community, players that use such software are commonly called <strong>bots</strong>, and the activity itself is referred to as <strong>botting</strong>.
              Having caught my attention, the botting world dragged me in, and I began automating my in-game activites too.
              The first botting platform I used, <a href="https://www.powerbot.org/">Powerbot</a>, was very powerful, based in Java, and had a huge amount of users and available software.
              There were 3 problems, though:
              <ol>
                <li>Java was a very difficult language to read, and by that time I couldn't understand any code regardless of how much I tried (today I know why);</li>
                <li>botting is against the game rules, so the game administrators were actively trying to find and ban botters from the game;</li>
                <li>due to this platform's popularity, it received special attention from such bot-watching administrators.</li>
              </ol>
              And due to these reasons, I tried looking for another botting platform.
            </p>
            <p>
              At some point, I found another platform, <a href="https://villavu.com/forum/">Villavu</a>, which was very good but for other reasons than those of the previous platform's.
              For a start, it was based in Pascal, which was a language that I somehow managed to figure out how it worked.
              Also, although this platform didn't have many available software, the community was really active towards helping everyone make their own programs, which was probably the key in leading me to begin programming.
            </p>
            <p>
              Then finally, yes, I began programming.
              <strong>This was where it started.</strong>
              Pascal was my first language, and I managed to write many botting programs with it.
              When I look back in those days, I find it funny that I managed to write programs with just a few Pascal constructs I managed to understand how to use; I never used a pointer, or allocated heap memory, for example.
              Creating a type structure? Not even once.
              In spite of having only a few known language tools at hand, I managed to make programs so complex that still make me giggle in perplexity nowadays.
            </p>
            <div class="text-center">
              <figure class="figure">
                <img src="/images/simba_pascal_snippet.png" class="figure-img img-fluid rounded" alt="Image showing a snippet of Pascal code I wrote.">
                <figcaption class="figure-caption">Snippet of Pascal code of a bot I once made. I keep all of them for good remembrance.</figcaption>
              </figure>
            </div>
            <p>
              Then, through programming, I paved my way to being among the top 2000 players in amount of experience, and managed to achieve the <strong>completionist cape</strong>, which shows you've completed all the main activities of the game.
              There is a trimmed version of such a cape, but university forced me to stop playing before I could get it.
              It was an amazing experience, and I had plenty of fun; no matter how against the rules it was, I cannot say anything but "it was absolutely worth it".
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <h1 style="margin-top: 25%;">
            Programming Cradle
          </h1>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center major-block major-bg-grey" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-sm-4">
          <h1 style="margin-top: 25%;">
            Miscellaneous Interests
          </h1>
        </div>
        <div class="col-sm-8">
          <div class="container text-left" style="font-size: 18px;">
            <p>
              In my free time, I like to either learn other computer things unrelated to my university deeds, study japanese language,
                listen to music, watch videos on Youtube (mostly gameplays) or watch animes.
              There are plenty of interesting things to learn about computers that the university won't teach you,
                such as how an operating system works in-depth, how to write drivers, currently popular frameworks
                (for general purposes, user interfaces, web development, etc), programming languages of different paradigms,
                contributing to open source projects etc... That's the kind of thing I sometimes study.
            </p>
            <p>
              I began studying japanese due to a suggestion of a psychiatrist I used to go to. He himself liked languages and knew
                plenty of them, so when I failed to follow any of a big list of suggestions I was given, he came up with a "What about
                learning another language?".
              Japanese language had already caught my attention due to my watching animes, so I felt like giving it a try, especially
                considering that the psychiatrist gave me some hints on how to begin studying a language.
              Then I started learning it, and eventually caught myself having fun studying it, which was when learning japanese stopped
                being a means by which I could some day understand animes without reading subtitles, to become a precious source of
                entertainment and mind cleansing. Nowadays, 日本人のように日本語を話せるようになりたい.
            </p>
            <p>
              The kind of music I like is anime soundtracks (background music, openings and endings), J-Pop and classical music.
              Most of the time I listen to the former 2, though, since I can't face classical music as an item to consume massively.
              My favorite composition is Dvořák's 9th Symphony "From the New World", but I only listen to it every few months.
              I'd also like to mention Liszt's "La Campanella" and "Hungarian Rhapsody No. 2", and Vivaldi's "Four Seasons" suite.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
