<!DOCTYPE>
<html>
  <head>
    <% include ../partials/head_common %>
    
    <style>
      .elf-credits-ul {
        margin: 20px auto;
      }

      .elf-credits-ul li {
        margin: 10px auto;
        font-size: 16px;
      }
    </style>
  </head>

  <body>

    <div class="jumbotron text-center">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="container">
        <h2>Acknowledgements</h2>
      </div>
    </div>

    <div class="container">
      <h2>CPU & GPU Architecture Slide Images</h2>
      <ul class="elf-credits-ul">
        <li>
          <a href="https://devblogs.nvidia.com/inside-pascal/" target="_blank">NVidia Pascal GP100 Streaming Multiprocessor</a>
        </li>
        <li>
          <a href="https://www.hpcwire.com/2008/09/10/compilers_and_more_gpu_architecture_and_applications/" target="_blank">NVidia GPU Architecture Diagram</a>
        </li>
        <li>
          <a href="https://arstechnica.com/gadgets/2009/09/intel-launches-all-new-pc-architecture-with-core-i5i7-cpus/" target="_blank">Intel Core i5/i7 Architecture Diagram</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/questions/44331059/mips-pipeline-cpu-architecture" target="_blank">MIPS CPU Architecture Diagram</a>
        </li>
      </ul>

      <h2>Linux Slide Images</h2>
      <ul class="elf-credits-ul">
        <li>
          <a href="https://en.wikipedia.org/wiki/Linux" target="_blank">Linux Components Diagram</a>
        </li>
        <li>
          <a href="https://www.novicus.com/linux-logo-without-version-number-banner-sized/" target="_blank">Linux Logo</a>
        </li>
        <li>
          <a href="https://www.omgubuntu.co.uk/2018/01/linux-mint-19-release-features" target="_blank">Linux Mint Logo</a>
        </li>
      </ul>

      <h2>Parallel Programming Slide Images</h2>
      <ul class="elf-credits-ul">
        <li>
          <a href="https://en.wikipedia.org/wiki/OpenCL" target="_blank">OpenCL Logo</a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/OpenMP" target="_blank">OpenMP Logo</a>
        </li>
        <li>
          <a href="https://www.hpcwire.com/2017/05/01/mpi-25-years-old/" target="_blank">MPI Logo</a>
        </li>
        <li>
          <a href="https://nvidianews.nvidia.com/file?fid=544a60fef6091d588d000046" target="_blank">NVidia CUDA Logo</a>
        </li>
      </ul>

      <h2>Runescape Images</h2>
      <ul class="elf-credits-ul">
        <li>
          <a href="http://runescape.wikia.com/wiki/Varrock" target="_blank">Varrock (City)</a>
        </li>
        <li>
          <a href="http://runescape.wikia.com/wiki/Prifddinas" target="_blank">Prifddinas (City)</a>
        </li>
      </ul>

    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>