<!DOCTYPE html>
<html lang="en">
	<head>
    <% include ../partials/head_common %>
  
    <style>
      .carousel-indicators li {
        border: 1px solid black;
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background-color: #9995;
      }

      .carousel-indicators li.active {
        background-color: #999F;
      }

      #projectsCarousel .carousel-inner {
        /* background: linear-gradient(90deg, #e9e9e9 0%, #e9e9e9 5%, white 50%, #e9e9e9 95%, #e9e9e9 100%); */
        background: #f8f8f8;
      }
      #projectsCarousel h2 {
        text-decoration: underline;
        padding: 20px 0 40px;
      }
      #projectsCarousel h2 a {
        position: absolute;
        right: 3%;
        font-size: 1rem;
      }
      #projectsCarousel img {
        padding-bottom: 20px;
      }

      .elf-table {
        background: #d5d5d5;
      }
      .elf-table, .elf-table th, .elf-table td {
        border-color: #999;
      }

      .elf-side-title {
        margin: 40px auto;
      }

      .elf-moving-logo {
        position: absolute;
        left: calc(50% - 48px);
        opacity: 0;

        animation-name: elf-logo-motion;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-duration: 15s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
      }
      @keyframes elf-logo-motion {
          0% { opacity:   0; left:   1%; }
         10% { opacity:   1; left:   1%; }
         20% { opacity:   1; left:   calc(50% - 48px); }
         60% { opacity:   1; left:   calc(50% - 48px); }
         70% { opacity:   1; left:   1%; }
         80% { opacity:   1; left:   1%; }
         90% { opacity:   0; left:   1%; }
        100% { opacity:   0; left:   1%; }
      }
    </style>

    <script>
      // Add smoothscrolling for scrollspy
      $(document).ready(function(){
        $("#floatingIndex a").on("click", function(event){
          // this.hash must have a value
          if(this.hash !== "") {
            event.preventDefault();

            var hash = this.hash;

            $("html, body").animate({
              scrollTop: $(hash).offset().top
            }, 500, function(){
              // Add hash link to URL
              window.location.hash = hash;
            });
          }
        });
      });
    </script>
  </head>

	<body id="elfPage" data-spy="scroll" data-target="#floatingIndex" data-offset="60">
    <div class="jumbotron elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="text-center container" style="margin: 10vh auto;">
        <h2>Matheus Saldanha's WebPage</h2>
        <p>Welcome to my humble abode!</p>
      </div>
    </div>

    <div id="welcome" class="container-fluid major-block" style="padding-top: 8vh;">
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="/images/index/my_photo.jpg" class="img-fluid img-thumbnail" alt="Photo of Myself">
        </div>
        
        <div class="col-md-6 text-center">
          <div style="margin: 20px 0px; height: 96px;">
            <img class="elf-moving-logo" src="/images/elf_logo_512.png" width="96">
          </div>
          <div class="justify-content-sm-center" style="font-size: 1.1rem;">
            <p>Hello, and welcome to my page! This page is actually supposed to be a playground for me to train my web developing knowledge, but I hope it also does fulfill the purpose of elucidating information about myself.</p>
            <p>I'm currently a Computer Science undergraduate student, with recently acquired interest in low level aspects of a computer, near the hardware level. However, for now I'm mostly interested in gathering smaller chunks of knowledge on all areas of Computer Science, so that I can face any problem without having to feel like I'm ignorant regarding the problem to be faced.</p>
            <p>In 2017 I began a Scientific Initiation in High-Performance Computing applied to the Protein Structure Prediction problem. I hope to use this opportunity to decide whether I'll follow an academic path or not.</p>
          </div>
        </div>
        
        <div class="col-md-2">

        </div>
      </div>
    </div>
    
    <div id="acadinfo" class="container-fluid text-center major-block">
      <div class="row">
        <div class="col-md-3 order-md-2">
          <h1 class="slideanim elf-side-title align-self-center">
              Academic Info
          </h1>
        </div>

        <div class="col-md-9 order-md-1">
          <div class="table-responsive">
            <table class="table table-bordered container text-center elf-table">
              <tbody>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Institution</th>
                  <td>
                    <div>ICMC - USP</div>
                    <div>Institute of Mathematics and Computer Sciences - University of São Paulo</div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Major</th>
                  <td>Computer Science</td>
                </tr>
                <tr>
                  <th scope="row">Occupation</th>
                  <td>Undergraduate Student</td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Contact</th>
                  <td>mhjsaldanha@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Interests</th>
                  <td>
                    <div>High-Performance Computing</div>
                    <div>Computer Organization and Architecture</div>
                    <div>Operating Systems</div>
                    <div>Machine Learning & Deep Learning</div>
                    <div>Web Development</div>
                  </td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Lattes Curriculum</th>
                  <td><a href="http://lattes.cnpq.br/2301154612725391" target="_blank">lattes.cnpq.br/2301154612725391</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="csinterests" class="container-fluid text-center major-block">
      <div class="row">  
        <div class="col-md-3">
          <h1 class="slideanim elf-side-title align-self-center">
            Interests <br> (Computer Science)
          </h1>
        </div>

        <div class="col-md-9">
          <div id="likingsCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
            <ol class="carousel-indicators">
              <li data-target="#likingsCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#likingsCarousel" data-slide-to="1"></li>
              <li data-target="#likingsCarousel" data-slide-to="2"></li>
              <li data-target="#likingsCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="w-100 bg-white rounded border" style="max-width: 1000px;" src="/images/index/slideimage/gpucpu.png">
              </div>
              <div class="carousel-item">
                <img class="w-100 bg-white rounded border" style="max-width: 1000px;" src="/images/index/slideimage/parallel.png">
              </div>
              <div class="carousel-item">
                <img class="w-100 bg-white rounded border" style="max-width: 1000px;" src="/images/index/slideimage/linux.png">
              </div>
              <div class="carousel-item">
                <img class="w-100 bg-white rounded border" style="max-width: 1000px;" src="/images/index/slideimage/machine-learning.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="elfprojs" class="container-fluid text-center major-block">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <h1 class="slideanim elf-side-title align-self-center">
            Elf Projects
          </h1>
        </div>
        <div class="col-md-8 order-md-1">
          <% include ../partials/index-content/elfprojs %>
        </div>
      </div>
    </div>

    <div id="whyelf" class="container-fluid text-center major-block elf-modal-block">
      <div class="row">
        <div class="col-md-4">
          <h1 class="slideanim elf-side-title align-self-center">
            Why Elf?
          </h1>
        </div>
        <div class="col-md-8 elf-modal-content">
          <% include ../partials/index-content/whyelf %>
          <button style="position: absolute; bottom: 20px; width: 60%; left: 20%;" 
                  type="button"
                  class="btn btn-lg btn-light border border-dark elf-modal-button"
                  data-toggle="modal" data-target="#whyelf-modal">
            Read More!
          </button>
        </div>
      </div>
    </div>
    <!-- Modal for Why Elf? -->
    <div class="modal fade" id="whyelf-modal" tabindex="-1" role="dialog" aria-labelledby="whyelf-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="whyelf-modal-title">Why Elf?</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% include ../partials/index-content/whyelf %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="progcradle" class="container-fluid text-center major-block elf-modal-block">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <h1 class="slideanim elf-side-title align-self-center">
            Programming Cradle
          </h1>
        </div>
        
        <div class="col-md-8 order-md-1 elf-modal-content">
          <% include ../partials/index-content/progcradle %>
          <button style="position: absolute; bottom: 20px; width: 60%; left: 20%;" 
                  type="button"
                  class="btn btn-lg btn-light border border-dark elf-modal-button"
                  data-toggle="modal" data-target="#progcradle-modal">
            Read More!
          </button>
        </div>
      </div>
    </div>
    <!-- Modal for Programming Cradle -->
    <div class="modal fade" id="progcradle-modal" tabindex="-1" role="dialog" aria-labelledby="progcradle-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="progcradle-modal-title">Programming Cradle</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% include ../partials/index-content/progcradle %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="miscints" class="container-fluid text-center major-block elf-modal-block">
      <div class="row">
        <div class="col-md-4">
          <h1 class="slideanim elf-side-title align-self-center">
            Interests (Miscellaneous)
          </h1>
        </div>

        <div class="col-md-8 elf-modal-content">
          <% include ../partials/index-content/miscints %>
          <button style="position: absolute; bottom: 20px; width: 60%; left: 20%;" 
                  type="button"
                  class="btn btn-lg btn-light border border-dark elf-modal-button"
                  data-toggle="modal" data-target="#miscints-modal">
            Read More!
          </button>
        </div>
      </div>
    </div>
    <!-- Modal for Miscellaneous Interests -->
    <div class="modal fade" id="miscints-modal" tabindex="-1" role="dialog" aria-labelledby="miscints-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="miscints-modal-title">Interests (Miscellaneous)</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% include ../partials/index-content/miscints %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="position: sticky; bottom: 20px; margin-top: 20px; z-index: 10;">
      <nav class="navbar navbar-expand-lg navbar-dark elf-starry-sky-top elf-navbar-bottom">
        <div class="navbar-brand">Index</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#floatingIndex" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          Index <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="floatingIndex">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#welcome">Welcome</a>
            <a class="nav-item nav-link" href="#acadinfo">Academic Info</a>
            <a class="nav-item nav-link" href="#csinterests">Interests (CS)</a>
            <a class="nav-item nav-link" href="#elfprojs">Elf Projects</a>
            <a class="nav-item nav-link" href="#whyelf">Why Elf?</a>
            <a class="nav-item nav-link" href="#progcradle">Programming Cradle</a>
            <a class="nav-item nav-link" href="#miscints">Interests (Misc)</a>
          </div>
        </div>
      </nav>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
