<!DOCTYPE html>
<html lang="en">
	<head>
    <link href="/apps/elf-slideshow/static/css/main.4c818ab6.css" rel="stylesheet">

    <% include ../partials/head_common %>
  
    <style>
      .elf-slideshow {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }

      .showbox {
        height: 100px;
        color: black;
        padding: 20px;
        border-radius: 10px;
        background: #f0d197;

        -o-transition: .3s;
        -ms-transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
      }

      .showbox:hover {
        background: #ba904d;
      }

      .elf-table {
        background: #d5d5d5;
      }
      .elf-table, .elf-table th, .elf-table td {
        border-color: #999;
      }

      .elf-side-title {
        margin: 40px auto;
      }
    </style>

    <!-- Add smoothscrolling for scrollspy -->
    <script>
      $(document).ready(function(){
        $("#floatingIndex a").on("click", function(event){
          // this.hash must have a value
          if(this.hash !== "") {
            event.preventDefault();

            var hash = this.hash;

            $("html, body").animate({
              scrollTop: $(hash).offset().top
            }, 500, function(){
              // Add hash link to URL
              window.location.hash = hash;
            });
          }
        });
      });
    </script>
  </head>

	<body id="elfPage" data-spy="scroll" data-target="#floatingIndex" data-offset="60">
    <div class="jumbotron elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="text-center container" style="margin: 10vh auto;">
        <h2>Matheus Saldanha's WebPage</h2>
        <p>Welcome to my humble abode!</p>
      </div>
    </div>

    <div id="welcome" class="container-fluid major-block">
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="/images/my_photo.jpg" class="img-fluid img-thumbnail" alt="Photo of Myself">
        </div>
        
        <div class="col-md-6 text-center">
          <div class="justify-content-sm-center" style="font-size: 1.1rem;">
            <p>Hello, and welcome to my page! This page is actually supposed to be a playground for me to train my web developing knowledge, but I hope it also does fulfill the purpose of elucidating information about myself.</p>
            <p>I'm currently a Computer Science undergraduate student, with recently acquired interest in low level aspects of a computer, near the hardware level. However, for now I'm mostly interested in gathering smaller chunks of knowledge on all areas of Computer Science, so that I can face any problem without having to feel like I'm ignorant regarding the problem to be faced.</p>
            <p>In 2017 I began a Scientific Initiation in High-Performance Computing applied to the Protein Structure Prediction problem. I hope to use this opportunity to decide whether I'll follow an academic path or not.</p>
          </div>
        </div>
        
        <div class="col-md-2">

        </div>
      </div>
    </div>
    
    <div id="acadinfo" class="container-fluid text-center major-block" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-md-3 order-md-2">
          <h1 class="slideanim elf-side-title align-self-center">
              Academic Info
          </h1>
        </div>

        <div class="col-md-9 order-md-1">
          <div class="table-responsive">
            <table class="table table-bordered container text-center elf-table">
              <tbody>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Institution</th>
                  <td>
                    <div>ICMC - USP</div>
                    <div>Institute of Mathematical and Computer Sciences - University of São Paulo</div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Major</th>
                  <td>Computer Science</td>
                </tr>
                <tr>
                  <th scope="row">Occupation</th>
                  <td>Undergraduate Student</td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Contact</th>
                  <td>mhjsaldanha@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Interests</th>
                  <td>
                    <div>High-Performance Computing</div>
                    <div>Computer Organization and Architecture</div>
                    <div>Operating Systems</div>
                    <div>Machine Learning & Deep Learning</div>
                    <div>Web Development</div>
                  </td>
                </tr>
                <tr>
                  <th scope="row" style="vertical-align: middle;">Lattes Curriculum</th>
                  <td><a href="http://lattes.cnpq.br/2301154612725391">lattes.cnpq.br/2301154612725391</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="progcradle" class="container-fluid text-center major-block" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-md-4">
          <h1 class="slideanim elf-side-title align-self-center">
            Programming Cradle
          </h1>
        </div>
        
        <div class="col-md-8">
          <div style="max-height: 70vh; overflow: hidden; border-radius: 10px; background: linear-gradient(180deg, #fff0 70%, #444f 100%);">
            <% include ../partials/index-content/progcradle %>
            <button style="position: absolute; bottom: 20px; width: 60%; left: 20%;" type="button" class="btn btn-lg btn-light" data-toggle="modal" data-target="#progcradle-modal">
              Read More!
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for Programming Cradle -->
    <div class="modal fade" id="progcradle-modal" tabindex="-1" role="dialog" aria-labelledby="progcradle-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="progcradle-modal-title">Programming Cradle</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% include ../partials/index-content/progcradle %>
          </div>
        </div>
      </div>
    </div>

    <div id="miscints" class="container-fluid text-center major-block" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <h1 class="slideanim elf-side-title align-self-center">
            Miscellaneous Interests
          </h1>
        </div>

        <div class="col-md-8 order-md-1">
          <div class="container text-left" style="font-size: 1.1rem;">
            <p>
              In my free time, I like to either learn other computer things unrelated to my university deeds, study japanese language,
                listen to music, watch videos on Youtube (mostly gameplays) or watch animes.
              There are plenty of interesting things to learn about computers that the university won't teach you,
                such as how an operating system works in-depth, how to write drivers, currently popular frameworks
                (for general purposes, user interfaces, web development, etc), programming languages of different paradigms,
                contributing to open source projects etc... That's the kind of thing I sometimes study.
            </p>
            <p>
              I began studying japanese due to a suggestion of a psychiatrist I used to go to. He himself liked languages and knew
                plenty of them, so when I failed to follow any of a big list of suggestions I was given, he came up with a "What about
                learning another language?".
              Japanese language had already caught my attention due to my watching animes, so I felt like giving it a try, especially
                considering that the psychiatrist gave me some hints on how to begin studying a language.
              Then I started learning it, and eventually caught myself having fun studying it, which was when learning japanese stopped
                being a means by which I could some day understand animes without reading subtitles, to become a precious source of
                entertainment and mind cleansing. Nowadays, 日本人のように日本語を話せるようになりたい.
            </p>
            <p>
              The kind of music I like is anime soundtracks
                (<a href="https://www.youtube.com/watch?v=LrBU4kfiXhw" target="_blank">background music</a>,
                <a href="https://www.youtube.com/watch?v=qvFNXg0cW0w" target="_blank">openings and endings</a>),
                <a href="https://www.youtube.com/watch?v=yv32__UWhVs" target="_blank">J-Pop</a>
                and classical music.
              Most of the time I listen to the former 2, though, since I can't face classical music as an item to consume massively.
              My favorite composition is
                <a href="https://www.youtube.com/watch?v=vHqtJH2f1Yk" target="_blank">Dvořák's 9th Symphony "From the New World"</a>,
                but I only listen to it every few months.
              I'd also like to mention
                <a href="https://www.youtube.com/watch?v=MD6xMyuZls0" target="_blank">Liszt's "La Campanella"</a> and
                <a href="https://www.youtube.com/watch?v=LdH1hSWGFGU" target="_blank">"Hungarian Rhapsody No. 2"</a>, and
                <a href="https://www.youtube.com/watch?v=GRxofEmo3HA" target="_blank">Vivaldi's "Four Seasons" suite</a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="ilike" class="container-fluid text-center major-block">
      <div class="row">  
        <div class="col-md-3">
          <h1 class="slideanim elf-side-title align-self-center">
            Things I Like
          </h1>
        </div>

        <div class="col-md-9">
          <div id="root" class="elf-slideshow"></div>
        </div>
      </div>
      <script type="text/javascript" src="/apps/elf-slideshow/static/js/main.f9cfaf76.js"></script>
    </div>

    <div id="ivedone" class="container-fluid text-center major-block" style="padding-top: 16vh; padding-bottom: 16vh;">
      <div class="row">
        <div class="col-md-2 order-md-first">
        </div>
                
        <div class="col-md-3 order-md-2 align-self-center">
          <h1 class="slideanim elf-side-title">
            What I've Done Lately
          </h1>
        </div>

        <div class="col-md-5 order-md-1">
          <div class="row">
            <div class="col-sm-6">
              <a href="/calculator" style="text-decoration: none;"><h4 class="showbox">Calculator</h4></a>
            </div>
            <div class="col-sm-6">
              <a href="//github.com/matheushjs/mjsaldanha.com" style="text-decoration: none;"><h4 class="showbox">This Page</h4></a>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
                <a href="/myapps/tictactoe" style="text-decoration: none;"><h4 class="showbox">Tic Tac Toe (React Hello World)</h4></a>
            </div>
            <div class="col-sm-6">
                <a href="/sci-projects/1-psp-project-1/" style="text-decoration: none;"><h4 class="showbox">Scientific Project 1 - Protein Structure Prediction</h4></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-2 order-md-last">
        
        </div>
      </div>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky; bottom: 0px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#floatingIndex" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Index <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="floatingIndex">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#welcome">Welcome</a>
          <a class="nav-item nav-link" href="#acadinfo">Academic Info</a>
          <a class="nav-item nav-link" href="#progcradle">Programming Cradle</a>
          <a class="nav-item nav-link" href="#miscints">Miscellaneous Interests</a>
          <a class="nav-item nav-link" href="#ilike">Things I Like</a>
          <a class="nav-item nav-link" href="#ivedone">I've Done Lately</a>
        </div>
      </div>
    </nav>
  </body>
</html>
