<!--
Message Page
  A page to display an information message to the user.

Parameters:
  'message': The message to display to the user. If it's empty, a standard message is displayed.
-->

<!DOCTYPE html>

<html>
  <head>
    <% include ../partials/head_common %>
  </head>

  <body>

    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>

      <% if(message) { %>
        <h2><%= message %></h2>
      <% } else { %>
        <h2>Oops, something went wrong!</h2>
      <% } %>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
