<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head_common %>
    
    <style>
      .elf-pal {
        height: 20vh;
        padding-top: calc(10vh - 1.1rem);
      }
    </style>
  </head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="container">
        <h2>Elf Palletes</h2>
      </div>
    </div>

    <div class="container" style="margin-top: 4rem;">
      <h2>Elf Icon & Logo</h2>
      <div class="row">
        <div class="col-2 elf-pal" style="background-color: #212121;"></div>
        <div class="col-2 elf-pal" style="background-color: #126262;"></div>
        <div class="col-2 elf-pal" style="background-color: #00f2ff;"></div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
      </div>
    </div>

    <div class="container" style="margin-top: 4rem;">
      <h2>Diagram</h2>
      <div class="row text-center" style="font-size: 1.1rem;">
        <div class="col-2 elf-pal" style="background-color: #92f4a3ff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #deff99ff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #ffa54cff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #ffbfc9ff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #cf8cffff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #67a3ffff;">Word</div>
      </div>
      <div class="row text-center" style="font-size: 1.1rem;">
        <div class="col-2 elf-pal" style="background-color: #99f5ffff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #e2e2e2ff;">Word</div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
        <div class="col-2 elf-pal" style="background-color: #0000;"></div>
      </div>
    </div>
      
    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
