<!--
Sign-up page

Options:
  failMsg: if this object exists, displays it as a failure message telling the user that sign up failed.
-->

<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

  <head>
    <% include ../partials/head_common %>
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <script src="/scripts/loginForms.js"></script>
  </head>

  <body>
    
    <div class="jumbotron elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="text-center container">
        <h2>Sign up</h2>
      </div>
    </div>

    <div class="container text-center">
      <form class="form-horizontal" method="post">
        <div class="form-group form-row" id="callname_group">
          <label class="col-form-label col-sm-2">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="callname" placeholder="How would you like to be called?" required>
          </div>
        </div>
      
        <div class="form-group form-row" id="username_group">
          <label class="col-form-label col-sm-2">Username:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="Enter your username" required>
          </div>
        </div>
        
        <div class="form-group form-row" id="pwd_group">
          <label class="col-form-label col-sm-2">Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
          </div>
        </div>

        <div class="form-group form-row" id="pwd2_group">
          <label class="col-form-label col-sm-2">Confirm Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password2" placeholder="Enter your password again" required>
          </div>
        </div>
        
        <div class="form-group">
          <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6LewBUgUAAAAADgVXdjSgymYSwI7lQsLF1mDgryY"></div>
        </div>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-dark" onclick="return validateSignup();">Submit</button>
        </div>

        <div class="alert alert-info" style="<%= failMsg ? '' : 'display: none;' %> color: darkblue; width: 50%; margin: 30px auto 0;">
          <strong>Info: </strong> <span class="fail-msg"><%= failMsg %></span>
        </div>
      </form>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
