<div class="container text-center footer-fixed">
  <div class="footer-content">
    <div class="row text-left" style="padding-left: 5px;">
      Page created and maintained by Matheus Henrique Junqueira Saldanha.
    </div>
  </div>
</div>

<!-- footer-content element should be copied and pasted from above-->
<div class="container-fluid text-center footer-placeholder">
  <div class="footer-content">
    <div class="row text-left" style="padding-left: 5px;">
      Page created and maintained by Matheus Henrique Junqueira Saldanha.
    </div>
  </div>
</div>