<title>Matheus Saldanha's WebPage</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Personal page of Matheus Henrique Junqueira Saldanha">
<meta name="author" content="Matheus Henrique Junqueira Saldanha">
<meta name="keywords" content="Computer Science,Programming,High-Performance Computing,HPC">
<link rel="icon" href="/images/elf_logo_512.png">

<!-- Get Bootstrap and JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/styles/custom.css">
