<!--
Navbar partial
  A navbar element to be added to all pages.

Parameters:
  session: session object
  session.username: Identifies an authenticated user. If empty, navbar is rendered for an unknown/unauthenticated user.
-->

<nav class="navbar navbar-default" style="margin-bottom: 0; border-radius: 0;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">MatHJS</a>
    </div>

		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
        <li><a href="/blog">Blog</a></li>
        <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Projects <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="https://frozen-ridge-60603.herokuapp.com/">ShCode</a></li>
          </ul>
        </li>
        <li><a href="/aboutme">About Me</a></li>
				<li><a href="https://www.github.com/matheushjs">GitHub</a></li>
      </ul>

      </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if(!session.username){ %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        <% } else { %>
          <span class="navbar-text">Hello, <%= session.username %></span>
          <li><a href="/logout">Logout</a></li>
        <% } %>
        </ul>
      </ul>
    </div>

	</div>
</nav>
