body {
  background: #f8f8f8;
}

.jumbotron {
  background-image: url(../images/earth_banner.jpg);
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.navbar-default {
  opacity: 0.6;
  margin: -20px 5% 20px;
  border-radius: 10px;
}

.footer-container {
  /* background: linear-gradient(175deg, #272b30, #272b30 40%, white 150%); */
  background: linear-gradient(180deg, #f8f8f8, #c8c8c8);
}

.footer-inner {
	margin-top: 30px;
}

.major-block {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.major-block2 {
  background: #00fffe55;
}