.jumbotron {
  background-image: url(../images/earth_banner.jpg);
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.footer-container {
  background-color: #000409;
  /* border-top: solid 1px; */
  border-color: black;
}

.footer-inner {
	margin-top: 10px;
}
