.jumbotron {
  background-image: url(../images/earth_banner.jpg);
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.footer-container {
  /* background: linear-gradient(175deg, #272b30, #272b30 40%, white 150%); */
  background: linear-gradient(180deg, #272b30,black);
}

.footer-inner {
	margin-top: 30px;
}
