<div class="justify-content-sm-center" style="font-size: 1.1rem;">
  <p>
    I've been developing plenty of 
    <a href="//github.com/matheushjs">libraries and programs</a>
    under the code name Elf (see <a href="#whyelf">Why Elf?</a>).
    <br>
    Check out some of them:
  </p>
  <div id="projectsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#projectsCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#projectsCarousel" data-slide-to="1"></li>
      <li data-target="#projectsCarousel" data-slide-to="2"></li>
      <li data-target="#projectsCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner border rounded shadow" style="height: 500px; overflow-y: scroll; overflow-x: hidden;">
      
      <div class="carousel-item active h-100">
        <div class="d-md-block" style="display: none; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(45deg, #84d6fbff 0%, #84d6fbaa 7%, #84d6fb00 10%);"></div>
        <h2>
          Elf Website
          <a href="//github.com/matheushjs/ElfWebsite">code</a>
        </h2>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>A website for spreading my work and research.</p>
            <img src="/images/index/elfprojs/elfwebsite.png" class="img-fluid" alt="Screenshot of my webpage.">
          </div>
          <div class="col-md-5">
            <h4>Tools</h4>
            <ul class="text-left">
              <li>Bootstrap <small class="text-muted">CSS & JS Toolkit</small></li>
              <li>HTML, CSS, JS <small class="text-muted">Languages</small></li>
              <li>Express <small class="text-muted">Server-side JS library</small></li>
              <li>EJS <small class="text-muted">HTML templating language</small></li>
              <li>SQL <small class="text-muted">Language for databases</small></li>
            </ul>
            <h4>Skills</h4>
            <ul class="text-left">
              <li>Client- & Server-side programming</li>
              <li>Deployment to cloud hosting environment</li>
              <li>HTTPS & SSL set-up</li>
              <li>Organizing project file structures</li>
              <li>Password encryption</li>
            </ul>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      
      <div class="carousel-item h-100">
        <div class="d-md-block" style="display: none; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(45deg, #555555ff 0%, #555555aa 7%, #55555500 10%);"></div>
        <h2>
          Elf C Library
          <a href="//github.com/matheushjs/ElfLibC">code</a>
        </h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <p>Library of data structures and algorithms for the C language.</p>
              <img src="/images/index/elfprojs/elflibc.png" class="img-fluid" alt="Directory structure of ElfLibC.">
            </div>
            <div class="col-md-5">
              <h4>Features</h4>
              <ul class="text-left">
                <li>UTF8 and Latin1 string manipulation</li>
                <li>Graph</li>
                <li>Efficient parallel scatter & gather operations</li>
                <li>AVL tree</li>
                <li>Command-line user interface canvas</li>
              </ul>
              <h4>Skills</h4>
              <ul class="text-left">
                <li>C programming</li>
                <li>Algorithms and data structures</li>
                <li>Memory management</li>
              </ul>
            </div>
            <div class="col-md-1"></div>
          </div>
      </div>
      
      <div class="carousel-item h-100">
        <div class="d-md-block" style="display: none; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(45deg, #f34b7dff 0%, #f34b7daa 7%, #f34b7d00 10%);"></div>
        <h2>
          Elf Music App
          <a href="//github.com/matheushjs/ElfMApp">code</a>
        </h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <p>Command-line utility for quickly evaluating and deleting songs.</p>
              <img src="/images/index/elfprojs/elfmapp.png" class="img-fluid" alt="Command-line usage of ElfMApp.">
            </div>
            <div class="col-md-5">
              <h4>Features</h4>
              <ul class="text-left">
                <li>Advance & Rewind</li>
                <li>Delete songs from hard drive</li>
                <li>List songs being evaluated</li>
                <li>Change playback speed</li>
              </ul>
              <h4>Skills</h4>
              <ul class="text-left">
                <li>Qt framework <small class="text-muted">for building applications</small></li>
                <li>C++ programming</li>
                <li>Media manipulation</li>
              </ul>
            </div>
            <div class="col-md-1"></div>
          </div>
      </div>
      
      <div class="carousel-item h-100">
        <div class="d-md-block" style="display: none; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(45deg, #8ec63fff 0%, #8ec63faa 7%, #8ec63f00 10%);"></div>
        <h2>
          Elf Cuda Libs
          <a href="//github.com/matheushjs/ElfCudaLibs">code</a>
        </h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <p>Library of parallel algorithms implemented in CUDA.</p>
              <img src="/images/index/elfprojs/elfcudalibs.png" class="img-fluid" alt="Snippet of code from ElfCudaLibs.">
            </div>
            <div class="col-md-5">
              <h4>Tools</h4>
              <ul class="text-left">
                <li>C & C++ <small class="text-muted">programming languages</small></li>
                <li>CUDA <small class="text-muted">parallel programming model</small></li>
                <li>Tesla P100 <small class="text-muted">NVIDIA GPU</small></li>
                <li>Euler supercomputer <small class="text-muted">from CEMEAI</small></li>
              </ul>
              <h4>Skills</h4>
              <ul class="text-left">
                <li>CUDA programming</li>
                <li>Parallel programming</li>
                <li>Efficient memory hierarchy usage</li>
                <li>Program performance measurement</li>
              </ul>
            </div>
            <div class="col-md-1"></div>
          </div>
      </div>
    </div>
  </div>
</div>