<div class="justify-content-sm-center" style="font-size: 1.1rem;">
  <p>
    I've been developing plenty of 
    <a href="//github.com/matheushjs">libraries and programs</a>
    under the code name Elf (see <a href="#whyelf">Why Elf?</a>).
    <br>
    Check out some of them:
  </p>
  <div id="projectsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#projectsCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#projectsCarousel" data-slide-to="1"></li>
      <li data-target="#projectsCarousel" data-slide-to="2"></li>
      <li data-target="#projectsCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner border rounded shadow" style="height: 500px; overflow-y: scroll; overflow-x: hidden;">
      
      <div class="carousel-item active h-100">
        <div class="d-md-block" style="display: none; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(45deg, #84d6fbff 0%, #84d6fbaa 7%, #84d6fb00 10%);"></div>
        <h2>
          Elf Website
          <a href="//github.com/matheushjs/ElfWebsite">code</a>
        </h2>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>A website for spreading my work and research.</p>
            <img src="/images/index/elfprojs/elfwebsite.png" class="img-fluid" alt="Screenshot of my webpage.">
          </div>
          <div class="col-md-5">
            <h4>Tools</h4>
            <ul class="text-left">
              <li>Bootstrap <small class="text-muted">CSS & JS Toolkit</small></li>
              <li>HTML, CSS, JS <small class="text-muted">Languages</small></li>
              <li>Express <small class="text-muted">Server-side JS library</small></li>
              <li>EJS <small class="text-muted">HTML templating language</small></li>
              <li>SQL <small class="text-muted">Language for databases</small></li>
            </ul>
            <h4>Skills</h4>
            <ul class="text-left">
              <li>Client- & Server-side programming</li>
              <li>Deployment to cloud hosting environment</li>
              <li>HTTPS & SSL set-up</li>
              <li>Organizing project file structures</li>
              <li>Password encryption</li>
            </ul>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      
      <div class="carousel-item">
        <h2>
          Elf C Library (ElfLibC)
          <a href="//github.com/matheushjs/ElfLibC">code</a>
        </h2>
      </div>
      
      <div class="carousel-item">
        <h2>
          Elf Music App (ElfMApp)
          <a href="//github.com/matheushjs/ElfMApp">code</a>
        </h2>
      </div>
      
      <div class="carousel-item">
        <h2>
          Elf Cuda Libs
          <a href="//github.com/matheushjs/ElfCudaLibs">code</a>
        </h2>
      </div>
    </div>
  </div>
</div>