<div class="container text-left" style="font-size: 1.1rem;">
  <p>
    In my free time, I like to either learn other computer things unrelated to my university deeds, study japanese language,
      listen to music, watch videos on Youtube (mostly gameplays) or watch animes.
    There are plenty of interesting things to learn about computers that the university won't teach you,
      such as how an operating system works in-depth, how to write drivers, currently popular frameworks
      (for general purposes, user interfaces, web development, etc), programming languages of different paradigms,
      contributing to open source projects etc... That's the kind of thing I sometimes study.
  </p>
  <p>
    I began studying japanese due to a suggestion of a psychiatrist I used to go to. He himself liked languages and knew
      plenty of them, so when I failed to follow any of a big list of suggestions I was given, he came up with a "What about
      learning another language?".
    Japanese language had already caught my attention due to my watching animes, so I felt like giving it a try, especially
      considering that the psychiatrist gave me some hints on how to begin studying a language.
    Then I started learning it, and eventually caught myself having fun studying it, which was when learning japanese stopped
      being a means by which I could some day understand animes without reading subtitles, to become a precious source of
      entertainment and mind cleansing. Nowadays, 日本人のように日本語を話せるようになりたい.
  </p>
  <p>
    The kind of music I like is anime soundtracks
      (<a href="https://www.youtube.com/watch?v=LrBU4kfiXhw" target="_blank">background music</a>,
      <a href="https://www.youtube.com/watch?v=qvFNXg0cW0w" target="_blank">openings and endings</a>),
      <a href="https://www.youtube.com/watch?v=yv32__UWhVs" target="_blank">J-Pop</a>
      and classical music.
    Most of the time I listen to the former 2, though, since I can't face classical music as an item to consume massively.
    My favorite composition is
      <a href="https://www.youtube.com/watch?v=vHqtJH2f1Yk" target="_blank">Dvořák's 9th Symphony "From the New World"</a>,
      but I only listen to it every few months.
    I'd also like to mention
      <a href="https://www.youtube.com/watch?v=MD6xMyuZls0" target="_blank">Liszt's "La Campanella"</a> and
      <a href="https://www.youtube.com/watch?v=LdH1hSWGFGU" target="_blank">"Hungarian Rhapsody No. 2"</a>, and
      <a href="https://www.youtube.com/watch?v=GRxofEmo3HA" target="_blank">Vivaldi's "Four Seasons" suite</a>.
  </p>
  <p>
    On Youtube, I like watching gameplays from
      <a href="https://www.youtube.com/user/norunine" target="_blank">弟者 (otoja)</a>
      and
      <a href="https://www.youtube.com/user/afuramazda0826" target="_blank">おついち (otsuichi)</a>.
    This way, I can watch gameplays while learning informal japanese: 一石二鳥 (two birds with one stone)!
    Another thing I like to watch in Youtube is
      <a href="//google.com/search?q=MMD+MikuMikuDance" target="_blank">MMD animations</a>,
      but it's embarrassing so I'll say no more.
  </p>
</div>