<div class="text-left container" style="font-size: 1.1rem;">
  <p>
    I've felt the need for having a code name when I was making Elf C Library, where I faced a problem that is relatively common when programming: namespace conflicts.
    The user of my library will probably include other libraries, and I had to make sure the names of functions or variables in mine didn't conflict with others'.
    That's why it's not a good idea to define a <code>create_graph()</code> function in my library, because the name "create_graph" makes sense in a lot of contexts,
      making it easy to imagine that other libraries also use it, which would cause problems.
    Inspired by how <a href="https://developer.gnome.org/" target="_blank">Gnome</a> designs its libraries, and by their
      <a href="https://developer.gnome.org/programming-guidelines/stable/namespacing.html.en" target="_blank">programming guidelines</a>, I decided to adopt a namespacing name,
      that is, instead of defining <code>create_graph()</code>, I'd use <code>NAMESPACE_create_graph()</code>.
    I ended up choosing "Elf" not only as the namespace, but also as a code name for my projects.
    In the following, I elaborate on the reason for such selection.
  </p>
  <p>
    When I was younger, I got sort of addicted to <a href="https://www.runescape.com" target="_blank">Runescape</a>.
    Runescape is an adventure medieval MMORPG game in which the player assumes the role of main character of an epic
      story that advances as the player completes <strong>quests</strong>.
    There is a lot to do besides completing quests, such as honing one of your 25+ <strong>skills</strong>, fighting
      bosses, playing minigames, etc; however, what kept me playing the game for over 10 years were most likely the breathtaking
      <strong>lore</strong> and <strong>soundtrack</strong>.
    Hence, I was the type of player - not a common type, in fact - that liked to complete quests paying attention to the story
      being developed, rather than looking up guides and rushing through them.
    On the other hand, I've always been bad with combat such as boss fighting and player-vs-player fights.
    In what follows, I'll talk a bit about the lore, so I'm obliged to give you a <span class="text-danger"><strong>spoiler alert</strong>: the paragraphs below contain spoilers</span>.
  </p>
  <p>
    As the player completes quests, they get to know more about the lore and, particularly, about many kinds of creatures that live in <strong>Gielinor</strong>,
      the planet where the player lives in, and in other planets too once you get deep into the quests.
    Dwarfs, gnomes, goblins, trolls, aviansies, they are all among the creatures you get to know more about through quests.
    By maybe the third year of my Runescape experience, I had advanced enough to begin doing the quests that would allow me to wield <strong>crystal weapons</strong>,
      a very powerful class of weapons by that time, so I began my adventure through them.
  </p>
  <div class="container text-center">
    <figure class="figure">
      <a href="/images/index/whyelf/underground_pass_entrance.png" target="_blank">
        <img src="/images/index/whyelf/underground_pass_entrance-small.png" class="figure-img img-fluid rounded" alt="Image showing entrance to Underground Pass." style="max-height: 300px;">
      </a>
      <figcaption class="figure-caption">Entrance to the Underground Pass, that leads to Tirannwn (click to expand).</figcaption>
    </figure>
  </div>
  <p> 
    Eventually, when I was doing one of the most difficult quests, I finally defeated some powerful mage that was blocking passage within a dungeon that connected
      the city of Ardougne to the still unknown other side.
    I reached, then, the other side of the dungeon; suddenly from the darkness I emerged in a beautiful forest, filled with creatures I had never seen before
      (such as grenwalls), and surrounded by an astounding soundtrack that mesmerized me every time I visited that place.
    One of the songs, <strong>Crystal Castle</strong>, has never left my memories even after having stopped playing; well, I showed this song to a precious person at
      that time, so it's all the more the kind of thing one doesn't easily forget.
  </p>
  <div class="container text-center">
    <figure class="figure">
      <a href="/images/index/whyelf/isafdar_forest.png" target="_blank">
        <img src="/images/index/whyelf/isafdar_forest-small.png" class="figure-img img-fluid rounded" alt="Image showing the forest seen after crossing Underground Pass." style="max-height: 300px;">
      </a>
      <figcaption class="figure-caption">The forest you see once leaving the Underground Pass (click to expand).</figcaption>
    </figure>
  </div>
  <p>
    Continuing with that quest and its successors, I got to know the story of <strong>elves</strong>.
    By that time, the quests didn't give much detail on elves, it was actually a content yet to be well developed.
    This was clear because there was a city on the map called Prifddinas, but it wasn't accessible by players as the elf guards wouldn't let you in.
    That city would only be fully released many years later.
    Regardless, the little story that was available about the elves at that time was enough to completely change the way I view the game: <strong>elves</strong> really
      are an amazing species, and their story is fascinating.
    They are known for being pacific, very intelligent and masters of using crystals for building weapons and buildings; let me tell you more about their origins.
  </p>
  <div class="container text-center">
    <figure class="figure">
      <a href="/images/index/whyelf/prifddinas_meilyr.png" target="_blank">
        <img src="/images/index/whyelf/prifddinas_meilyr-small.png" class="figure-img img-fluid rounded" alt="Section of Prifddinas, the city of Elves." style="max-height: 300px;">
      </a>
      <figcaption class="figure-caption">Prifddinas, the city of Elves (click to expand).</figcaption>
    </figure>
  </div>
  <p>
    <strong>Guthix</strong> was a normal creature that ascended to godhood when he acquired an <strong>Ancient Artifact</strong>.
    He roamed throughout the universe and stumbled in Gielinor, the player's planet, which he found so beautiful that he stayed there.
    In his trip around the universe, he also eventually visited Tarddiad, a planet inhabited by elves and their goddess <strong>Seren</strong>.
    Guthix felt that Gielinor was so beautiful that peaceful creatures, such as the elves, deserved to get to know it, so he invited Seren to
      bring elves there.
    With this, elves gradually migrated to Gielinor, around the beautiful forest I mentioned earlier.
    However, as years passed by, other gods also found Gielinor and started inhabiting it with their followers, which included creatures and gods that promoted war and chaos.
    This made Gielinor fall in an enormous war called <strong>The God Wars</strong>.
  </p>
  <div class="row">
    <div class="col-sm-6 text-center">
      <figure class="figure">
        <a href="/images/index/whyelf/seren.png" target="_blank">
          <img src="/images/index/whyelf/seren-small.png" class="figure-img img-fluid rounded" alt="Seren, the god worshipped by elves.">
        </a>
        <figcaption class="figure-caption">Seren, the god worshipped by elves (click to expand).</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 text-center">
        <figure class="figure">
          <a href="/images/index/progcradle/baxtorian.png" target="_blank">
            <img src="/images/index/whyelf/baxtorian-small.png" class="figure-img img-fluid rounded" alt="Baxtorian, an elf.">
          </a>
          <figcaption class="figure-caption">Baxtorian, an elf (click to expand).</figcaption>
        </figure>
      </div>
  </div>
  <p>
    The forest in Gielinor where the elves lived, <strong>Tirannwn</strong>, was safe at first since nobody attempted an invasion against it.
    Things eventually changed, though, and the war reached the elves too.
    The military elven clan defended their land and defeated every invasion attempt, while the construction elven clan fortified the walls of <strong>Prifddinas</strong>,
      the city of the elves in Tirannwn, in order to protect the civilians.
    Eventually, the war reached proportions so big that Guthix, which was in some sort of slumber, woke up to find Gielinor in ruins.
    He then used all his power to banish the presence of any god within Gielinor, including Seren.
    Seren, however, could not leave the elves because they had developed some sort of dependence on being near her energy, and being far away for too long would render
      them ill.
    She, then, shattered herself in tiny crystals scattered over Tirannwn, so that the elves could continue living in Gielinor, and possibly develop a healthy relation
      with other creatures.
  </p>
  <div class="container text-center">
    <figure class="figure">
      <a href="/images/index/whyelf/guthix_edicts.png" target="_blank">
        <img src="/images/index/whyelf/guthix_edicts-small.png" class="figure-img img-fluid rounded" alt="Guthix banishing gods from Gielinor." style="max-height: 300px;">
      </a>
      <figcaption class="figure-caption">Guthix banishing gods from Gielinor (click to expand).</figcaption>
    </figure>
  </div>
  <p>
    Well, there is more to the story than what I've said here, which can be found <a href="https://runescape.wiki/w/Seren/History" target="_blank">here</a>.
    Better than reading the story is playing it while surrounded by the beautiful soundtrack of the game.
    What I can say is that I was deeply moved by such story, by Seren's attitude of placing her followers, the elves, above any other kind of mundane desire,
      such as war, power or territories.
    Above that, the elves are really a special creature within the universe of Runescape: they are knowledgeable and treat knowledge as a very valuable artifact,
      which led them to develop precious technology that could only be handled by themselves; namely, crystal manipulation and their own magic spells.
    They could possibly defeat any other creatures in a war, obtaining as much land and power as they wanted; but no, they opt to live peacefully with nature, as
      preached by Seren, and Guthix as well.
  </p>
  <p>
    The name that has this beautiful and meaningful background story, that's the name I want to develop my research and projects under.
    Hence, <strong>Elf Projects</strong>.
  </p>
  <div class="container text-center">
    <figure class="figure">
      <img src="/images/elf_icon.png" class="figure-img img-fluid rounded" alt="Elf Projects Logo." style="max-height: 300px;">
      <figcaption class="figure-caption">Elf Projects Logo.</figcaption>
    </figure>
  </div>
</div>