<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

  <head>
    <% include ../../partials/head_common %>
    
    <style>
      .elf-credits-ul {
        margin: 20px auto;
      }

      .elf-credits-ul li {
        margin: 10px auto;
      }

      .elf-credits-header {
        margin: 20px auto 40px;
      }
    </style>

    <script src="/scripts/elfResearch.js"></script>
  </head>

  <body>
    <div class="jumbotron text-center elf-starry-sky mb-5">
      <div>
        <% include ../../partials/navbar %>
      </div>
      <div class="container">
        <h2>Scientific Research</h2>
      </div>
    </div>

    <div class="container text-justified mb-5">
      <p>
        In this page I'll try to organize the research I've done, linking each research to their own pages, where you can find their abstracts and public resources.
      </p>
    </div>

    <div id="spinner-container" class="container text-center mb-5">
      <span class="spinner-border"></span>
      <span>Loading...</span>
    </div>

    <div class="container">
      <table id="research-table" class="table table-hover mb-5">

      </table>

      <h5>Labels</h5>
      <table id="badge-table" class="table table-sm">

      </table>
    </div>

    <div>
      <% include ../../partials/footer %>
    </div>

    <script>Elf.listResearch($("#research-table"), $("#badge-table"), $("#spinner-container"));</script>
  </body>
</html>
