<!DOCTYPE>
<html>
  <head>
    <% include ../partials/head_common %>
  </head>

  <body>
    <div>
      <% include ../partials/navbar %>
    </div>

    <div class="jumbotron text-center">
      <h2>Who am I?</h2>
    </div>
  </body>
</html>