<!DOCTYPE>
<html>
  <head>
    <% include ../partials/head_common %>

    <style>
      .custom-table {
        background: #EEE;
      }
    </style>
  </head>

  <body>

    <div class="jumbotron text-center">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="container">
        <h2>About Me</h2>
      </div>
    </div>

    <div class="container-fluid major-block">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img src="/images/my_photo.jpg" class="img-fluid img-thumbnail" alt="Photo of Myself">
        </div>
        
        <div class="col-sm-6 text-center">
          <div class="justify-content-sm-center" style="font-size: 18px;">
            <p>Hello, and welcome to my page! This page is actually supposed to be a playground for me to train my web developing knowledge, but I hope it also does fulfill the purpose of elucidating information about myself.</p>
            <p>I'm currently a Computer Science undergraduate student, with recently acquired interest in low level aspects of a computer, near the hardware level. However, for now I'm mostly interested in gathering smaller chunks of knowledge on all areas of Computer Science, so that I can face any problem without having to feel like I'm ignorant regarding the problem to be faced.</p>
            <p>In 2017 I began a Scientific Initiation in High-Performance Computing applied to the Protein Structure Prediction problem. I hope to use this opportunity to decide whether I'll follow an academic path or not.</p>
          </div>
        </div>
        
        <div class="col-sm-2">

        </div>
      </div>
    </div>
    
    <div class="container-fluid text-center major-block major-block2">
      <table class="table table-bordered container text-center custom-table" style="width: 50%; margin-top: 25px;">
          <tbody>
            <tr>
              <th scope="row" style="vertical-align: middle;">Institution</th>
              <td>
                <div>ICMC - USP</div>
                <div>Institute of Mathematical and Computer Sciences - University of São Paulo</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Major</th>
              <td>Computer Science</td>
            </tr>
            <tr>
              <th scope="row">Occupation</th>
              <td>Undergraduate Student</td>
            </tr>
            <tr>
              <th scope="row" style="vertical-align: middle;">Contact</th>
              <td>mhjsaldanha@gmail.com</td>
            </tr>
            <tr>
              <th scope="row" style="vertical-align: middle;">Interests</th>
              <td>
                <div>High-Performance Computing</div>
                <div>Distributed Computing</div>
                <div>Computer Organization and Architecture</div>
                <div>GPU Architecture</div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
