<!DOCTYPE html>
<html lang="en">
	<head>
    <% include ../partials/head_common %>

		<link href="/apps/elf-slideshow/build/static/css/main.4c818ab6.css" rel="stylesheet">
  
    <style>
      .elf-slideshow {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }

      .showbox {
        height: 100px;
        background: linear-gradient(150deg, #272b30, black 50%, cyan 150%);
        padding: 20px;
        border-radius: 5px;
      }
    </style>
  </head>

	<body>

    <div>
      <% include ../partials/navbar %>
    </div>

    <div class="jumbotron">
      <div class="text-center container">
        <h2>Matheus Saldanha's WebPage</h2>
        <p>Welcome to my humble abode!</p>
      </div>
    </div>

    <div class="container-fluid text-center">
      <div class="page-header">
        <h2>Things I Like</h2>
      </div>
      <div id="root" class="elf-slideshow">
      </div>
      <script type="text/javascript" src="/apps/elf-slideshow/build/static/js/main.d6295939.js"></script>
    </div>

    <div class="container-fluid text-center">
      <div class="page-header">
        <h2>What I've Done Lately:</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a href="/calculator"><h3 class="showbox">Calculator</h3></a>
        </div>
        <div class="col-sm-4">
          <a href="//github.com/matheushjs/mjsaldanha.com"><h3 class="showbox">This Page</h3></a>
        </div>
        <div class="col-sm-4">
          <a href="/apps/tictactoe/"><h3 class="showbox">Tic Tac Toe (React Hello World)</h3></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <a href="/psp-project-1"><h3 class="showbox">Scientific Project 1 - Protein Structure Prediction</h3></a>
        </div>
      </div>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>

  </body>
</html>
