<!DOCTYPE>
<html>
  <head>
    <% include ../partials/head_common %>
  </head>

  <body>
    <div>
      <% include ../partials/navbar %>
    </div>

    <div class="container-fluid">
      <div class="jumbotron">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i>
        </h2>
        <h2>Oops, page does not exist!</h2>
      </div>
    </div>
  </body>
</html: