<!DOCTYPE>

<html>
  <head>
    <% include ../partials/head_common %>
  </head>

  <body>

    <div class="jumbotron text-center">
      <div>
        <% include ../partials/navbar %>
      </div>
      <h2>Scientific Project 1</h2>
      <h2>Protein Structure Prediction with Parallel Algorithms Orthogonal to Parallel Platforms</h2>
    </div>

    <div class="container text-justified">
      <h1>Abstract</h1>
      <p>
        Due to the abundance and importance of proteins, a greater knowledge about these molecules is known to be of great interest to science.
        However, laboratory experiments for studying them are expensive and lengthy, which led to the arising of studies on computational methods for predicting the behavior of proteins, which includes its tridimensional structure (3D).
        The problem of determining the 3D structure of a protein based on its aminoacid sequence is NP-complete, and attempts to solve this problem with sequential algorithms are shown to be insufficient, which indicates a clear need for applying parallel computing in such problem.
        In this project, parallel algorithms for prediction of protein structures, found in the literature, will be investigated in an effort to find opportunities for adapting them to different parallel platforms.
        Thereafter, a set of algorithms will be elaborated such that it is diverse in terms of the parallel architectures and parallel programming models used.
        The set will be implemented, evaluated and made publicly available, so as to support the development of more elaborate prediction algorithms that use a collection of algorithms as a means to achieve better predictions.
      </p>
      
      <h1>Public Resources</h1>
      <!--
      <table class="table table-striped table-bordered container text-center">
        <tbody>
          <tr>
            <th scope="row" style="vertical-align: middle;">FAPESP Project Page</th>
            <td>
              <div><a href="">link</a></div>
            </td>
          </tr>
        </tbody>
      </table>
      -->
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>