<!-- Secret page

session object is assumed to exist and be filled with session.callname, session.username, session.special_user etc.
-->

<!DOCTYPE html>
<html lang="en">
	<head>
    <% include ../partials/head_common %>
	</head>

  <body>
    <div>
      <% include ../partials/navbar %>
    </div>

    <div class="jumbotron text-center">
      <h2><%= session.callname %>'s Secret Page</h2>
    </div>

    <div>
      <% if(['walwal20'].indexOf(session.username) !== -1) { %>
        <% include ../partials/special_walwal20 %>
      <% } %>
    </div>
  </body>
</html>