<!DOCTYPE html>

<html>
  <head>
    <% include ../../partials/head_common %>
    <link href="./static/main.css" rel="stylesheet">
  </head>

  <body>
    <div>
      <% include ../../partials/navbar %>
    </div>

    <div class="jumbotron text-center">
      <h2>Tic Tac Toe</h2>
      <p>"Hello World!" app using React</p>
    </div>
    
    <div class="text-center">
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root"></div>
      <script type="text/javascript" src="./static/main.js"></script>
    </div>
  </body>
</html>
