<!DOCTYPE html>
<html lang="en">
	<head>
    <% include ../../partials/head_common %>
	</head>

  <body>
    <div>
      <% include ../../partials/navbar %>
    </div>

    <div class="jumbotron text-center">
      <h2><%= session.callname %>'s Secret Page</h2>
    </div>

    <div class='container'>
      <div class="col-sm-4"><a href="./all_users">User Listing</a></div>
    </div>
  </body>
</html>