<div class="container-fluid elf-footer">
  <div class="container text-center mx-auto" style="max-width: 500px; font-size: 0.8rem;">
    <h5>
      <%= trans.footer.webmap %>
    </h5>
    <div class="d-flex flex-wrap justify-content-around my-3">
      <%- trans.footer.links %>
    </div>
  </div>      
  
  <div class="w-100 text-left mt-3">
    <%- trans.footer.creatornote %>
  </div>
</div>