<div class="container-fluid elf-footer">
	<div class="container text-center">
		<div class="row" style="font-size: 0.8rem;">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				Website Map <br>
				<div class="row">
					<div class="col-sm-6">
						<a href="/credits/">credits</a> <br>
						<a href="/">home</a>
					</div>
					<div class="col-sm-6">
						<a href="/palletes">palletes</a> <br>
						<a href="/sci-projects/">research</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>			
	
	<div class="row">
		<div class="col-12">
			<p>
				Page created and maintained by Matheus Henrique Junqueira Saldanha.
				<br>
				mhjsaldanha@gmail.com
			</p>
		</div>
	</div>
</div>