<!--
Navbar partial
  A navbar element to be added to all pages.

Parameters:
  session: session object
  session.callname: Identifies an authenticated user. If empty, navbar is rendered for an unknown/unauthenticated user.
  session.specialUser: Identifies a user with special page. If 'true', a button for the special page is added to the navbar.
-->

<nav class="elf-navbar navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img src="/images/elf_logo_512.png" width="26" height="26" style="margin-top: -3px; display: inline-block;">
    MatHJS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sci-projects/1-psp-project-1/">Research</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.github.com/matheushjs">GitHub</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/credits">Credits</a>
      </li>
      
      <% if(specialUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/secret">Special Page</a>
        </li>
      <% } %>
    </ul>

    <ul class="navbar-nav">
    <% if(!callname){ %>
      <li class="nav-item">
        <a class="nav-link" href="/user/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Login</a>
      </li>
    <% } else { %>
      <span class="navbar-text elf-navbar-welcome" style="padding-right: 10px; color: black;">Hello, <%= callname %>!</span>
      <li class="nav-item">
        <a class="nav-link" href="/user/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Logout</a>
      </li>
    <% } %>
    </ul>
  </div>
</nav>
