<!DOCTYPE>
<html>
  <head>
    <% include ../../partials/head_common %>
  </head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../../partials/navbar %>
      </div>
      <div class="container">
        <h2>Scientific Articles</h2>
      </div>
    </div>

    <div class="container text-justified">
      <p>
        Each article written has its own page, with information that should be publicly available for the readers.
      </p>
    </div>

    <div class="container">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">2019</th>
            <td><a href="/articles/1-hpc-sspi">High Performance Algorithms for Contact and Collision Counting</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <% include ../../partials/footer %>
    </div>
  </body>
</html>
