<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

  <head>
    <% include ../../partials/head_common %>
  </head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../../partials/navbar %>
      </div>
      <div class="container">
        <h2>Scientific Articles</h2>
      </div>
    </div>

    <div class="container text-justified">
      <p>
        Each article written has its own page, with information that should be publicly available for the readers.
      </p>
      <p>
        Information about rankings can be found <a href="http://www.conferenceranks.com/" target="_blank">here</a>.
      </p>
    </div>

    <div class="container" style="margin-top: 40px">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" rowspan="2">Year</th>
            <th scope="col" rowspan="2">Title</th>
            <th scope="col" rowspan="2">Published at</th>
            <th scope="col" colspan="2" style="border-bottom: 0px;">Classifications</th>
          </tr>
          <tr>
            <th scope="col" style="border-top: 0px;">ERA</th>
            <th scope="col" style="border-top: 0px;">Qualis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2019</th>
            <td><a href="/articles/1-hpc-sspi">High Performance Algorithms for Counting Collisions and Pairwise Interactions</a></td>
            <td>ICCS 2019</td>
            <td>A</td>
            <td>A1</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <% include ../../partials/footer %>
    </div>
  </body>
</html>
