<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

  <head>
    <% include ../../../partials/head_common %>

    <style>
      h1 {
        margin-bottom: 0.5em;
        padding-top: 1em;
      }
    </style>
  </head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../../../partials/navbar %>
      </div>
      <div class="container">
        <h2>High Performance Algorithms for Counting Collisions and Pairwise Interactions</h2>
        <p>Matheus Henrique Junqueira Saldanha, Paulo Sérgio Lopes de Souza</p>
      </div>
    </div>

    <div class="container">
      <h1>Source Code Repositories</h1>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Collision Counting Algorithms (root directory)</th>
            <td><a href="//github.com/matheushjs/ElfCudaLibs/tree/master/ElfColCnt" target="_blank">GitHub Repository</a></td>
          </tr>
          <tr>
            <th scope="row">Protein Structure Prediction Algorithm</th>
            <td><a href="//github.com/matheushjs/ElfPSP_ParallelABC" target="_blank">GitHub Repository</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container" style="margin-bottom: 3em;">
      <h1>Article's Appendix</h1>
      <p>Can't see the file? Download the <a href="/images/articles/1/appendix.pdf">PDF here</a>.</p>
      <div style="height: 90vh;" class="shadow">
        <embed src="/images/articles/1/appendix.pdf" style="width: 100%; height: 100%;" type="application/pdf">
      </div>
    </div>

    <div>
      <% include ../../../partials/footer %>
    </div>
  </body>
</html>
