<!DOCTYPE html>
<html lang="en">
	<head>
    <% include ../../partials/head_common %>
	</head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../../partials/navbar %>
      </div>
      
      <h2>User Listing</h2>
    </div>

    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Hashpass</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < users.length; i++) { %>
            <%   var user = users[i]; %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.callname %></td>
                <td><%= user.username %></td>
                <td><%= user.hashpass %></td>
              </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
