<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

	<head>
    <% include ../../partials/head_common %>
	</head>

  <body>
    <div class="jumbotron text-center elf-starry-sky">
      <div>
        <% include ../../partials/navbar %>
      </div>
      
      <h2>Secret Pages</h2>
    </div>

    <div class='container'>
      <div class="col-sm-4"><a href="secret/all_users">User Listing</a></div>
    </div>
  </body>
</html>